{% extends "base.html" %}
{% block title %}
ჩემს შესახებ
{% endblock %}
{% block siebi %}
  <section id="recommended" class="pt-md-5" style="margin-bottom: 10rem;">
    <h2 class="text-md-center my-5">ვინ ვარ მე?</h2><hr>
    <div class="container">
        <img class="about_img" src="/static/342720062_1161674651139901_9211344445692965441_n.jpg" style="width: 25rem; float:left">
        <h2 class="ms-5">მე ვარ გიორგი ტყეშელაშვილი, 16 წლის. ვცხოვრობ თბილისში, დაინტერესებული ვარ პროგრამირებით, განსაკუთრებით ვებსაიტების შექმნით. <br><br>ამ სამი თვის განმავლობაში მომეცა საშუალება, რომ ფაქტიურად "ნულიდან" მესწავლა Back End, კონკრეტულად პითონი. მინდა დიდი მადლობა მოვუხადო "თიბისი ბანკსა და ჯეოლაბს" ასეთი ეფექტური და საინტერესო პროექტისთვის, რამაც დიდი გამოცდილება მომცა პროგრამირების კუთხით. ასევე მინდა დიდი მადლობა მოვუხადო Back End კურსის ლექტორს, გიორგი კვარაცხელიას ამ კურსის საინტერესოდ და მარტივად ახსნისთვის.<br><br> თუ გსურთ უფრო ვრცლად გაიგოთ "თიბისი განათლების პროგრამის" შესახებ, დააჭირეთ თიბისის ლოგოს!<a href="https://www.tbceducation.ge/" target="_blank"><img class="tbc_img" src="/static/tbc_logo.png" style="width: 15rem; float:right"></a></h2><br><br><br>
    </div>    
  </section>
{% endblock %}